.App {
  text-align: center;
}

body {
  position: relative;
}

@media only screen and (max-width: 760px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0px 20px 50px 20px;
}

.maintemplate {
  margin-left: 20%;
  margin-right: 50px;
  margin-top: 50px;
}
.productlist {
  height: 100px;
  width: 25%;
  padding: 10px;
  font-size: 20px;
}